html, body{
	margin: 0;
	padding:  0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body {
    background-color: #76b9e6;
}

.header {
	background-color: #fffdd1;
    height: 60px;
    border-bottom: 4px solid #2980b9;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    float: left;
    padding-top: 12px;
}

li input{
	cursor: pointer;
}

li a {
	height: 16.364px;
}

#welcome {
    font-size: 18pt;
    padding-right: 45px;
}

h3, h4 {
	color: white;
	text-align: center;
}

h6 {
	color: red;
}

table {
	text-align: center;
	border-collapse: collapse;
	width: 80%;
	margin: 3rem auto;
}

table a {
	text-decoration: none;
}

table td, .table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even) {
	background-color: #76d4e6;
}

table tr:hover {
	background-color: #ddd;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #444;
	color: white;
}

.login-wrapper{
	max-width: 300px;
	text-align: center;
	border: 4px solid #2980b9;
	background-color: #fffdd1;
	border-radius: 6px;
	margin: 0 auto 0 auto;
	padding: 1rem;
}

.form-wrapper{
	max-width: 300px;
	text-align: center;
	margin: 2rem auto;
	border: 4px solid #2980b9;
	border-radius: 6px;
	padding: 2rem;
	background-color: #fffdd1;
}

.form-wrapper label, .form-wrapper input, .login-wrapper label, .login-wrapper input{
	display:block;
	padding: 1rem 0 .25rem;
}

.form-wrapper input, .login-wrapper input{
	width: 90%;
	border: solid 2px #2980b9;
	padding: .5rem;
	border-radius: 6px;	
	font-size: 16px;
}

.index{
	width: 200px;
	height: 100px;
	text-align: center;
	border: 4px solid #2980b9;
	background-color: #fffdd1;
	border-radius: 6px;
	margin: 0 auto 0 auto;
	padding: 25px 0px 25px 0px;
}

.index a {
	text-decoration: none;
}

.buttons{
	background-color: #444;
  	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
}

.buttons:hover {
	background: #666;
}

#index-button{
	position: relative;
	margin: 1rem 0;
}

#addBtn, #sin-button{
	margin: 1rem auto;
	width: auto;
	border: none;
	border-radius: 0px;
	font-size: 14px;
}

.note{
	color: red;
	font-size: 10pt;
}

.inp {
	margin-top: 15px;
}
