<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Demo</title>
		<link rel="stylesheet" th:href="@{/main.css}"/> <!-- így működik a CSS -->
	</head>
</html>