<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body class="error-page">
		<div class="error">
			<span style="font-weight: bold; font-size: 18pt;">Access denied</span>
			<div style="margin-top: 15px;">
				<span> <a th:href="@{/}">Back to main page</a>
				</span>
			</div>
		</div>
	</body>
</html>