<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.loggedout}">You have been logged out.</div>
	<form th:action="@{/form/login}" method="post">
		<div>
			<label> User Name : <input type="text" name="username" />
			</label>
		</div>
		<div>
			<label> Password: <input type="password" name="password" />
			</label>
		</div>
		<a th:href="@{/form/registration}">Registration</a>
		<div>
			<input type="submit" value="Sign In" />
		</div>
	</form>
</body>
</html>